[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"beautifulsoup4" = "*"
python-dateutil = "*"
pytz = "*"
requests = "*"
typogrify = "*"
"Jinja2" = "*"

[dev-packages]

[requires]
python_version = "2.7"
