{# Do we show a contributor thumbnail or not? #}
{% set has_contributor = False %}

{% if article['sectionName'] == 'Opinion' and 'contributor' in article and article['contributor'] and 'bylineImageUrl' in article['contributor'] %}
	{% set has_contributor = True %}
{% endif %}


<div class="section-default tone-{{ article['tone'] }}{% if has_contributor %} has-contributor{% endif %}">

	<div class="meta">
		{% if 'publication' in article['fields'] %}
			<p class="publication">
				{{ article['fields']['publication'] }}
			</p>
		{% endif %}

		{% if article['tone'] == 'letters' or article['tone'] == 'obituaries' %}
			{# Special cases, because otherwise there's no clear indication otherwise this is in the letters/obits 'section'. #}
			<p class="section">
				{{ article['tone'][0]|upper }}{{ article['tone'][1:] }}
			</p>
		{% elif 'sectionName' in article %}
			<p class="section">
				{{ article['sectionName'] }}
			</p>
		{% endif %}
	</div>

	{% if 'headline' in article['fields'] %}
		<div class="headline">
			<h2>
				{{ article['fields']['headline']|typogrify }}
			</h2>
		</div>
	{% endif %}

	{% if 'byline' in article['fields'] and (article['fields']['byline'] != '' and article['fields']['byline'] != '<p></p>') %}
		<div class="byline">
			<p>
				{{ article['fields']['byline']|typogrify }}
			</p>
		</div>
	{% else %}
		<div class="hr"></div>
	{% endif %}

	<div class="body">
		{% if has_contributor %}
			<img class="thumbnail" src="{{ article['contributor']['bylineImageUrl'] }}" alt="Picture of {{ article['contributor']['webTitle'] }}">
		{% endif %}

		{% if 'starRating' in article['fields'] %}
			{% with rating=article['fields']['starRating'] %}
				<p class="rating">
					<span aria-hidden="true">
						{% if rating == '5' %}
							★★★★★
						{% elif rating == '4' %}
							★★★★☆
						{% elif rating == '3' %}
							★★★☆☆
						{% elif rating == '2' %}
							★★☆☆☆
						{% elif rating == '1' %}
							★☆☆☆☆
						{% elif rating == '0' %}
							☆☆☆☆☆
						{% else %}
							{{ rating }} stars
						{% endif %}
					</span>
					<span class="visually-hidden">
						{{ rating }} stars out of 5
					<span>
				</p>
			{% endwith %}
		{% endif %}

		{% if 'standfirst' in article['fields'] and (article['fields']['standfirst'] != '' and article['fields']['standfirst'] != '<p></p>') %}
			<div class="standfirst">
				{% if article['fields']['standfirst'][0] != "<" %}
					<p>
				{% endif %}
				{{ article['fields']['standfirst']|typogrify }}
				{% if article['fields']['standfirst'][0] != "<" %}
					</p>
				{% endif %}
			</div>
		{% endif %}

		{% if not has_contributor and  'thumbnail' in article['fields'] %}
			<img class="thumbnail" alt="Thumbnail image" src="{{ article['fields']['thumbnail'] }}">
		{% endif %}

		{% if 'body' in article['fields'] %}
			{% if article['fields']['body'] == '<!-- Redistribution rights for this field are unavailable -->' %}
				<p class="no-rights">Redistribution rights for the article body are unavailable. <a class="see-original" href="{{ article['webUrl'] }}/print?mobile-redirect=false">See original.</a></p>
			{% else %}
				{# Sometimes there are empty p tags. Remove them. #}
				{{ article['fields']['body']|replace("<p></p>", "")|replace_interactives(article["webUrl"])|replace_grids|typogrify }}
			{% endif %}
		{% else %}
			<p class="no-body">No body text available.</p>
		{% endif %}
	</div>

	<div class="footer">
		<p class="paper">
			<span>Paper: </span>p.{{ article['fields']['newspaperPageNumber'] }} in {{ article['newspaperBook']['webTitle'] }}
		</p>
		{% if 'webUrl' in article %}
			<p class="original">
				<span>Web: </span><a href="{{ article['webUrl'] }}">{{ article['webUrl']|replace('http://', '') }}</a>
			</p>
		{% endif %}
		{% if 'shortUrl' in article['fields'] %}
			<p class="share">
				<span>Share: </span><input type="text" value="{{ article['fields']['shortUrl'] }}">
			</p>
		{% endif %}

	</div>

</div>
